<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
<div class="header-container">

  <!-- style="font-family: 'Consolas'" -->
  <!-- style="font-family: 'Arial';" -->

  <div class="header-items">
    <div class="header-left">
      <a routerLink="/" routerLinkActive="active" class="first"> T e r r y </a> |   
      <a routerLink="/" routerLinkActive="active" class="last">  J u </a>

    </div>
    <div class="header-right">
      <!-- <a routerLink="/testPage" routerLinkActive="active"> 
          The page where I test random shit out </a> -->
      <a routerLink="/" routerLinkActive="active" (click)="toResume()"> Resume </a>
      <!-- <a routerLink="/portfolio" routerLinkActive="active"> Portfolio </a> -->
      <!-- <a routerLink="/contact" routerLinkActive="active"> Contact me </a> -->
    </div>
  </div>
</div>
<div class="background"></div>

<router-outlet></router-outlet>
