<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
    <div class="container">
        <div class="Language">
            <h1>Languages</h1>

            <!-- Maybe section by the type of language -->
            <h4>Web dev</h4>
            <ul>
                <li>HTML <span class="stars"> ★★★★☆ </span></li> 
                <li>CSS & SCSS <span class="stars"> ★★★★☆ </span></li>
                <li>JS <span class="stars"> ★★★☆☆ </span></li>
                <li>Typescript <span class="stars"> ★★★☆☆</span></li>
                <li>Angular <span class="stars"> ★★★☆☆</span></li>
                <li>Node.js <span class="stars"> ★★★☆☆</span></li><br>
            </ul>
                
            <h4>Programming Languages</h4>
            <ul>
                <li>Java <span class="stars"> ★★★★☆ </span></li> 
                <li>Python <span class="stars"> ★★★★☆ </span></li> 
                <li>C <span class="stars"> ★★★☆☆ </span></li> 
                <li>C# <span class="stars"> ★★★★☆ </span></li> 
                <li>C++ <span class="stars"> ★★★☆☆ </span></li> <br>

            </ul>
            <h4>Misc</h4>
            <ul>
                <li>ARM <span class="stars"> ★★★★☆ </span></li> 
                <li> <span class="stars"> ★★★★☆ </span></li> 
                <li>C <span class="stars"> ★★★☆☆ </span></li> 
                <li>C# <span class="stars"> ★★★★☆ </span></li> 
                <li>C++ <span class="stars"> ★★★☆☆ </span></li> <br>

            </ul>
        </div>

        <div class="Libraries">
            <h1>Libraries & Tools</h1>

            <!-- Maybe section by the type of language -->
            <h4>Python</h4>
            <ul>
                <li> Flask </li> 
                <li> Dash </li>
                <li> Juypter Notebook</li>
                <li> OpenCV</li>
                <br>
                
            </ul>
                
            <h4>Project management</h4>
            <ul>
                <li> Git </li> 
                <li> Bitbucket </li>
                <li> Jira</li>
                <li> Confluence</li> 
                <br>
                
            </ul>
            <h4>Misc</h4>
            <h4>Python</h4>
            <ul>
                <li> Flask </li> 
                <li> Dash </li>
                <li> Juypter Notebook</li>
                <li></li>
                
            </ul>
        </div>

    </div>

    <div class="container-2">
        <h1>Concepts</h1>
        <ul>
            <li>OOP</li>
            <li>Software Engineering</li>
            <li>Design Patterns</li>
            <li>Game Design</li>
        </ul>
    </div>

    <div class="container-3">
        <h1>Courses</h1>
        <h4></h4>
        <ul>
            <li>CS 1026 (Intro to python)</li>
            <li>CS 1027 (Intro to OOP & Java)</li>
            <li>CS 2010 (Intro to Algorithms)</li>
            <li>CS 2011 (Software Tools and System Programming)</li>
            <li>CS 3357 (Computer Networks)</li>
            <li>CS 3346 (Intro to AI)</li>
            <li>Design Patterns</li>
            <li>Game Design</li>
        </ul>
    </div>

</div>
<footer>
    <p> Coded, designed, and deployed with ❤️ by Terry Ju, 2021</p>
</footer>