* {
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(83, 119, 236) 0%,
    rgb(156, 202, 253) 50%,
    rgb(65, 215, 245) 96%
  );
  position: absolute;
  top: 0px;
  z-index: -10;
}

.contact-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background: inherit;
  margin: -20px;
}

.contact-container {
  position: absolute;
  top: 80px;
  width: 60%;
  height: 34%;
  margin-right: 20%;
  background-color: whitesmoke;
  background: inherit;
  right: 0;
  display: flex;
  margin-top: 1%;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
