* {
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(83, 119, 236) 0%,
    rgb(156, 202, 253) 50%,
    rgb(65, 215, 245) 96%
  );
  position: absolute;
  top: 0px;
  z-index: -10;
}

.contact-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background: inherit;
  margin: -20px;
}

.contact-container {
  width: 450px;
  height: 500px;
  margin: auto;
  background-color: whitesmoke;
  background: inherit;
  right: 0;
  display: flex;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 0%;
}

//Form

.contact {
  background: inherit;
}

.contact-header {
  top: 10%;
  position: absolute;
}

.textbox {
  width: 350px;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}
.center-text {
  text-align: center;
}
form.contact {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
input,
button {
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 4px 16px;
  transition: 0.4s;
  width: 100%;
  margin-top: 10px;
}
button:hover:enabled {
  color: white;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .contact-container {
    width: 320px;
  }

  form.contact {
    width: 300px;
  }
}
