<span class="background"></span>
<!-- <div class="projects-container">
    <div class="project 1"></div>
    <div class="project 2"></div>
    <div class="project 2"></div>
</div> -->

<ul class="flex-container">
    <li (click)="toProj1()" class="flex-item con1 hvr-grow" style="background-image: url(assets/EcoBoost.png);"><br><br><br><br><br><br><br><br>
        Designed an app with the goal to reduce waste and promote environmentally friendly habits</li>
    <li (click)="toProj2()" class="flex-item con2 hvr-grow"style="background-image: url(assets/CO2.png);"
    ><br><br><br><br><br><br><br><br>
        Calculated the CO2 emissions of a trip using GCP, Vue, JS and Python, deployed in Heroku </li>
    <li (click)="toProj3()" class="flex-item con3 hvr-grow" style="background-image: url(assets/COVID-Visualizer.png);">
        <br><br><br><br><br><br><br><br>
        Created a visualizer that dynamically displays real-time COVID data using Python and flask</li>
    <!-- <li class="flex-item con3"><br><br><br><br><br><br><br><br>
        Created a visualizer for world bank data in Java using the Swing framework</li>
    <li class="flex-item con3"><br><br><br><br><br><br><br><br>
        Created a simple snake game in Java making use of </li>
    <li class="flex-item con3"><br><br><br><br><br><br><br><br>
        My personal website! Check out the steps I took to create and design this site</li> -->
  </ul>
  