* {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(83, 119, 236) 0%,
    rgb(156, 202, 253) 50%,
    rgb(65, 215, 245) 96%
  );
  background-attachment: fixed;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

// background-image: url("/assets/wavey-background.svg");

//Display:grid

.background {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0px;
  z-index: -10;
  background-attachment: fixed;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-top: 1%;
  padding-top: 80px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0;
  margin: 0;
  list-style: none;
  // background: inherit;
}

.right-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  width: 950px;
  flex-shrink: 1;
  margin-top: 1%;
  padding-top: 80px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0;
  margin: 0;
  list-style: none;
  // background: whitesmoke;
  background: inherit;
}

//Profile block

.profile-container {
  flex-flow: row wrap;
  justify-content: space-around;
  width: 390px;
  height: 600px;
  margin-top: 1%;
  display: flex;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: rgba(235, 221, 221, 0.329);
  // background: inherit;
  overflow: hidden;
  top: 80px;
  backdrop-filter: blur(5px);
}

.profile-container h1 {
  background: transparent;
  top: 1%;
  justify-content: flex-start;
  font-size: 4em;
}

// .profile-container:before {
//   content: "";
//   // position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
//   backdrop-filter: blur(5px);
//   background: inherit;
//   margin: -20px;
// }

.prof-pic-container {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-top: 45px;
  z-index: 3;
  box-shadow: 0.3rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

//Overlay effect

.prof-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

//I am animation

.Iam {
  padding: 2em 5em;
  font: normal 2.2em/50px sans-serif;
  color: black;
  position: absolute;
  z-index: 2;
  background: transparent;
  top: 2rem;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.4em;
  background: transparent;
  position: absolute;
  left: 0.25em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: absolute;
  height: 50px;
  background: transparent;
  left: 35%;
}
.Iam .innerIam {
  display: inline-block;
  // color: #e74c3c;
  color: rgb(153, 0, 204);
  position: relative;
  white-space: nowrap;
  top: 0px;
  padding-left: 18px;
  margin-right: 40px;
  background: transparent;
  font-weight: bold;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 4s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  3% {
    top: 0px;
  }
  36% {
    top: -50px;
  }
  70% {
    top: -100px;
  }

  /*Can add more like so, just re-evaluating the percent numbers*/

  /* 60% { top: -150px; }
      80% { top: -200px; } */
}

.overlay {
  all: initial;
  * {
    all: unset;
  }
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  // position: absolute;
  background-color: rgb(179, 7, 179);
  overflow: hidden;
  width: 231px;
  height: 230px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 4;
  margin-top: 20px;
}

.prof-pic-container:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 10px;
  margin-top: 61.6px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
}

//End of overlay effect

.social-media {
  height: 80px;
  width: 370px;
  align-content: center;
  border-radius: 15px;
  opacity: 70%;
  box-shadow: 0.3rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  justify-content: center;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background: whitesmoke;
}

.profile-container img:hover {
  cursor: pointer;
}

#github {
  background: inherit;
  background-color: transparent;
}

#email {
  background: inherit;
  background-color: transparent;
}

#linkedIn {
  background: inherit;
  background-color: transparent;
}

#devpost {
  background: inherit;
  background-color: transparent;
}

.intro-container {
  margin-top: -60px;
  flex-grow: 1;
  width: 100%;
  height: 350px;
  background-color: transparent;
  background: rgba(235, 221, 221, 0.329);
  right: 0;
  display: flex;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  align-items: center;
}

.intro-container h1 {
  background: transparent;
  z-index: 2;
  top: 4%;
  left: 2%;
  font-size: 2.7em;
}

#intro-text {
  background: transparent;
  z-index: 2;
  padding-left: 0.9em;
  padding-right: 0.9em;
  font-size: 1.2rem;
  margin: 0;
  padding-top: 0px;
  margin-top: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

#intro-text .bolded {
  color: rgb(153, 0, 204);
  background: inherit;
}

.projects-container {
  width: 100%;
  height: 400px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: rgba(235, 221, 221, 0.329);
  overflow: hidden;
  z-index: 1;
  align-items: center;
  margin-top: 40px;
  flex-grow: 1;
  // margin-top: -500px;
  // position: absolute;
}

.carousel-cell {
  background-size: contain;
  display: grid;
  background: rgba(235, 221, 221, 0.329);
}

//Hover float

.hvr-float {
  z-index: 3;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  cursor: pointer;
}

//Grow animation

.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.035);
  transform: scale(1.035);
}

//Typewritter effect

.wrapper {
  height: 30px;
  position: absolute;
  text-align: justify;
  top: 4%;
  left: 2%;
  z-index: 3;
  background: transparent;
}

.typing-demo {
  width: 22ch;
  animation: typing 2.5s steps(30), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  //   font-family: monospace;
  font-size: 2.5em;
  background: transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

// top: 25%;
// left: 2%;
// justify-content: center;

//Tooltips
@import url("https://cdn.jsdelivr.net/npm/cooltipz-css@1.6.7/cooltipz.css");

/* Works on Chrome, Edge, and Safari */

@media screen and (max-width: 1700px) {
  .background {
    height: 1000px;
  }
}

@media screen and (max-width: 1430px) {
  .background {
    height: 1600px;
  }
}

@media screen and (max-width: 850px) {
  .right-flex {
    width: 100%;
  }
  .intro-container {
    width: 100%;
    height: 100%;
  }

  .typing-demo {
    font-size: 2em;
  }

  .background {
    height: 1700px;
  }
}
