<!--Profile container-->

<!--

    Make sure to compartmentalize and use components to represent different aspects of page

-->

<!--Make animated circles/random animations later-->

<!--https://spline.design/-->
<!---->

<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">

<!--Cool ass card effect-->
<!--https://www.youtube.com/watch?v=OV8MVmtgmoY-->

<!--Dark mode
https://www.npmjs.com/package/angular-dark-mode-->
<!--https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2-->
<!-- <app-header></app-header> -->

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <!--

        Section 1 of website

    -->
    <div class="section">
    <div class="flex-container sec1">
        <div class="flex-header">
            <h1 class="intro-header">Hi, I'm <a class="red">Terry</a> 🍁</h1>
        </div>

        <div class="intro-flex-container">
            <div class="intro-container ">
            
                <div class="wrapper">
                    <div class="typing-demo">
                    Welcome to my website.
                    </div>
                </div>        

                <!--Intro-->
                <div id="intro-text">

                    <br><br>
                    I'm studying <b aria-label="with a minor in Game Design" class="bolded cooltipz--bottom">computer science 
                    </b> at Western University. As I'm coming into my third year, I'm looking for opportunities to learn and grow my
                    <b aria-label="in full-stack development" class="bolded cooltipz--bottom">skillset</b>.
                    In my free time, I love playing piano, games and <b aria-label="I've been playing since I was 6!" class="bolded cooltipz--bottom">chess</b>.
                    <br><br>
                    I've lived in Ottawa my whole life but I love exploring. I've worked for 
                    <b aria-label="as an eCommerce Coordinator" class="bolded cooltipz--top">Mosiac North America</b>
                    and currently the 
                    <b aria-label="in IT" class="bolded cooltipz--top"> CRA </b> through summer
                    internships. The fields of tech I'm most interested in are AI and Game Design, but I love learning 
                    about basically anything from fields like
                    <b aria-label="using MEAN!" class="bolded cooltipz--top"> full stack development </b>
                    to <b aria-label="like AR!" class="bolded cooltipz--top"> new technologies!</b>
                    <br><br>

                    <!-- https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse -->
                    <!--Change this to a play button? and then click to play background colour changing-->
                    <div class="interactive-buttons">
                        <img id="darkIcon" class="dark-icon hvr-grow" src="/assets/dark_mode.svg">
                        <a (click)="changeColour($event)">randomize background  </a>
                        <a (click)="resetColour($event)">reset colours</a>
                    </div>

                </div>
            </div>

            <!--Profile section-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cooltipz-css@1.6.7/cooltipz.css " />
            <div class="right-flex">
                <div class="profile-container">  
                    <div class="Iam">
                        <p>I am a</p>
                        <b>
                        <div class="innerIam" id="Iam-wrapper">
                            Student 👨‍🎓<br /> 
                            Coder 🖥️<br />
                            Pianist 🎹<br />
                        </div>
                        </b>
                    </div>
                    <div class="prof-pic-container">
                        <img src="assets/prof pic.jpg" class="prof-pic">
                        <div class="overlay text"><br>Hi There! <br> <br> If you have <br>any site suggestions,<br> please send me a message!
                        </div>
                    </div>
            
                    <div class="social-media">
                        <img (click)="toGithub()" src='assets/github-icon.png' id="github" class="hvr-float">
                        <img (click)="toLinkedIn()" src='assets/linkedin-Icon.png' id="linkedIn" class="hvr-float">
                        <img routerLink="/contact" routerLinkActive="active" src='assets/email-icon2.png' id="email" class="hvr-float">
                        <img (click)="toDevpost()" src='assets/devpost-icon.png' id="devpost" class="hvr-float">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--

        Section 2 of website -> Projects

    -->

    <div class="section">
    <div class="projects-flex sec2">
        <!-- <br><br> <a routerLink="/testPage" routerLinkActive="active">Test page</a> <br> <br> -->
        <div class="projects-container">
            
            <div class="divider">
                <!--Used for positioning-->
            </div>
            <h1 class="projects-header">Projects 🚀</h1>
            <app-cards></app-cards>
            

        </div>
    </div>

    <span class="background"></span>
    <span class="background2"></span>
    <span class="background3"></span>
    <!-- <router-outlet></router-outlet> -->
    </div>

    <!-- <div class="section">
        <div class="skills-container">
            <app-skills></app-skills>
        </div>
    </div> -->

</div>



<!--Night Mode by Fiki Ahmadi from the Noun Project-->