<div class="profile-container">
    <h1>Hi, I'm Terry</h1>
    <div class="Iam">
        <p>I am a</p>
        <b>
        <div class="innerIam" id="Iam-wrapper">
            Student<br /> 
            Programmer<br />
            Canadian<br />
        </div>
        </b>
    </div>
    <img src="/assets/prof pic.jpg" class="prof-pic">
</div>
<div class="intro-container">
    <h1>I'm an incoming third-year student</h1>
</div>
<div class="projects-container">
   
</div>
<span class="background"></span>
<!-- <img src="assets/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg" class="background"> -->