
<div class="container">

    <!--Card 1-->
    <div class="card hvr-grow glowy cards" (click)="toASL()">
      <div class="card-header">
        <img src="/assets/ASL.png" alt="ASL " />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">Python</span>
        <h4>
          ASL Interpreter
        </h4>
        <p>
          Created using OpenCV and python. The program translates hand gestures into letters from ASL. 
        </p>
        <!-- <div class="user">
          <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
          <div class="user-info">
            <h5>July Dec</h5>
            <small>2h ago</small>
          </div>
        </div> -->
      </div>
    </div>

    <!--Card 2-->
    
    <div class="card hvr-grow glowy cards" (click)="toCOVID()">
      <div class="card-header">
        <img src="/assets/COVID.png" alt="Covid-19 tracker" />
      </div>
      <div class="card-body">
        <span class="tag tag-purple">Dash</span>
        <h4>
          COVID-19 Tracker
        </h4>
        <p>
          Created a covid-19 tracker using real-time data, created in python and flask
        </p>
      </div>
    </div>

    <!--Card 3-->
    <!-- Make more tags  -->

    <div class="card hvr-grow glowy cards" (click)="toCO2()">
      <div class="card-header">
        <img src="/assets/WinHacks.png" alt="CO2-Emissions" />
      </div>
      <div class="card-body">
        <span class="tag tag-pink">Web Development</span>
        <h4>
          CO2 Calculator
        </h4>
        <p>
          Fullstack app created using Vue, GCP and third-party API's that calculates
          CO2 emissions. 
        </p>         
      </div>
    </div>
   
    <a href="#" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        View All
      </a>
   
    <!-- <nav>
    <ul>
        <li class="projects">
            View All
            <span></span><span></span><span></span><span></span>
        </li>
    </ul>
    </nav> -->
    
</div>


<!-- <footer>
  <p> Coded, designed, and deployed with ❤️ by Terry Ju, 2021</p>
</footer> -->

<!-- <router-outlet></router-outlet> -->
