<span class="background"></span>

<div class="skills-container hvr-grow">

    <div class="container" id="section1">
        <h1 class="skills-head">Languages</h1>
        <div class="bar advanced" data-skill="Python"></div>
        <div class="bar front advanced" data-skill="Java"></div>
        <div class="bar back intermediate" data-skill="C#"></div>
        <!-- <div class="bar front advanced" data-skill="CSS"></div>
        <div class="bar expert" data-skill="HTML"></div>
        <div class="bar back intermediate" data-skill="JS"></div>
        <div class="bar front intermediate" data-skill="Typescript"></div>
        <div class="bar intermediate" data-skill="SCSS"></div> -->
        <div class="bar front intermediate" data-skill="R"></div>
        <div class="bar intermediate" data-skill="Visual Basic"></div>
        <div class="bar back advanced" data-skill="Git"></div>
        <div class="bar front intermediate" data-skill="C"></div>
        <div class="bar basic" data-skill="Bash"></div>

        <!-- <h1 class="skills-head clickme" onClick="document.getElementById('section2').scrollIntoView();">
        Tools & Technologies</h1> -->
        <img src='assets/arrow-button.jpg' onClick="document.getElementById('section2').scrollIntoView();" 
        class="down-button hvr-float">
    </div>

      <div class="container" id="section2">
        <h1 class="skills-head">Platforms and tools</h1>
        <div class="bar basic" data-skill="Unity"></div>
        <div class="bar front advanced" data-skill="VS Code"></div>
        <div class="bar back intermediate" data-skill="Unix"></div>
        <div class="bar back intermediate" data-skill="GCP"></div>
        <div class="bar front advanced" data-skill="Heroku"></div>
        <div class="bar advanced" data-skill="RESTful APIs"></div>

        <h1 class="skills-head">Concepts</h1>
        <!-- <div class="bar learning" data-skill="Cybersecurity"></div> -->
        <div class="bar back advanced" data-skill="OOP"></div>
        <div class="bar front intermediate" data-skill="SCRUM"></div>
        <div class="bar intermediate" data-skill="AGILE"></div>

          <!-- <h1 class="skills-head clickme" onClick="document.getElementById('section1').scrollIntoView();">
            back up</h1> -->
          <img src='assets/arrow-button.jpg' onClick="document.getElementById('section3').scrollIntoView();" 
          class="down-button hvr-float">
      </div>
      <div class="container" id="section3">
        <h1 class="skills-head">Web Dev</h1>
        <div class="bar advanced" data-skill="HTML"></div>
        <div class="bar front advanced" data-skill="CSS"></div>
        <div class="bar back intermediate" data-skill="Javascript"></div>
        <div class="bar front intermediate" data-skill="Typescript"></div>
        <div class="bar intermediate" data-skill="SCSS"></div>
        <div class="bar front intermediate" data-skill="Node.js"></div>        
        <div class="bar back intermediate" data-skill="Angular"></div>  
        <img src='assets/arrow-button.jpg' onClick="document.getElementById('section1').scrollIntoView();" 
        class="up-button hvr-float">      
      </div>

        
<!-- 
        <h1 id="section1">wtf</h1>
        <a href="#section1">Design</a> -->

      </div>

<div class="resume-container hvr-grow">
    <object
  data="https://drive.google.com/file/d/1RJgktNkXSlxavQOJSWAlHoxhp9o6jbhJ/preview"
  type="application/pdf"
  width="100%"
  class="resume">
  <p>Your browser does not support PDFs.
    <a href="https://drive.google.com/file/d/1RJgktNkXSlxavQOJSWAlHoxhp9o6jbhJ/preview">Download the PDF</a>.</p>
</object>

</div>