<span class="background"></span>

<div class="skills-container">

    <div class="container">
        <h1 class="skills-head">Languages</h1>
        <div class="bar advanced" data-skill="Python"></div>
        <div class="bar front advanced" data-skill="Java"></div>
        <div class="bar back intermediate" data-skill="C#"></div>
        <div class="bar front advanced" data-skill="CSS"></div>
        <div class="bar expert" data-skill="HTML"></div>
        <div class="bar back intermediate" data-skill="JS"></div>
        <div class="bar front intermediate" data-skill="Typescript"></div>
        <div class="bar intermediate" data-skill="SCSS"></div>
        <div class="bar back advanced" data-skill="Git"></div>
        <div class="bar front intermediate" data-skill="C"></div>
        <div class="bar intermediate" data-skill="C"></div>

        <h1 class="skills-head">Tools & Technologies</h1>
        <div class="bar learning" data-skill="Unity"></div>
        <div class="bar back basic" data-skill="VS Code"></div>
        <div class="bar back intermediate" data-skill="Unix"></div>
        <div class="bar front advanced" data-skill="Heroku"></div>

<!-- 
        <h1 id="section1">wtf</h1>
        <a href="#section1">Design</a> -->

      </div>

</div>
<div class="resume-container">
    <object
  data="https://drive.google.com/file/d/1RJgktNkXSlxavQOJSWAlHoxhp9o6jbhJ/preview"
  type="application/pdf"
  width="100%"
  class="resume">
  <p>Your browser does not support PDFs.
    <a href="https://drive.google.com/file/d/1RJgktNkXSlxavQOJSWAlHoxhp9o6jbhJ/preview">Download the PDF</a>.</p>
</object>

</div>